<div class="login">
  <div class="bg">
    <div class="bar-1"></div>
    <div class="bar-2nd">
      <div class="bar-2"></div>
      <div class="bar-3"></div>
    </div>
    <div class="bar-3rd">
      <div class="bar-4"></div>
      <div class="bar-5"></div>
    </div>
    <div class="bar-6"></div>
    <div class="bar-7"></div>
    <div class="bar-4th">
      <div class="bar-8"></div>
      <div class="bar-9"></div>
    </div>
    <div class="bar-10"></div>
  </div>
  <div class="container">
    <div class="left">
      <%= image_tag "logo.png" %>
      <div class="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.email_field :email, placeholder: "Nickname"%>
          </div>
          <div class="field">
            <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirm Password" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
        <%= link_to root_path do %>
        <i class="fa-regular fa-circle-left"></i>
        <% end %>
      </div>
    </div>
    <div class="right">
      <%= image_tag "register.png" %>
    </div>
  </div>
</div>
