<%= form_with model: user, url: balance_top_up_path, method: :patch do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <% user.errors.each do |error| %>
        <div><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="current-balance">
    <div class="current">Current Balance:</div>
    <div class="balance"><%= number_to_currency(user.balance) %></div>
  </div>
  <div class="field">
    <%= form.number_field :balance, step: :any, value: "", min: 0.1, placeholder: "Enter Amount" %>
  </div>
  <div class="actions">
    <%= form.submit "Top Up"%>
  </div>
<% end %>
