<div class="stocks">
  <div class="title">Stocks</div>
  <div class="container">
    <% @stocks.each do |stock| %>
      <%= link_to new_transaction_path(:stock_symbol => stock.symbol, :transaction_type => 'buy'), class: "box" do %>
        <img src="<%= stock.logo_url %>">
        <div class="info">
          <div class="symbol">
            <%= stock.symbol %>
          </div>
          <div class="name">
            <%= stock.company_name %>
          </div>
          <div class="price"><%= number_to_currency(stock.get_quote.latest_price) %> </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
