<%= turbo_stream_from "users" %>
<p id="alert"><%= alert %></p>

<h1>Users</h1>
<%= turbo_frame_tag "users" do %>
<%= render @users %>
<% end %>
<br>

<%= link_to 'New User', new_user_path, data: {turbo_frame: "modal"} %>