<p id="notice"><%= notice %></p>

<h1>User Stocks</h1>

<h2>Balance: <%= current_user.balance %></h2>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Stock symbol</th>
      <th>Order quantity</th>
      <th>Stock price</th>
      <th>Total stock price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stocks.each do |user_stock| %>
      <tr>
        <td><%= user_stock.company_name %></td>
        <td><%= user_stock.stock_symbol %></td>
        <td><%= user_stock.order_quantity %></td>
        <td><%= user_stock.stock_price %></td>
        <td><%= user_stock.total_stock_price %></td>
        <td><%= user_stock.user_id %></td>
        <td><%= link_to 'Show', user_stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>