<div class="user-stocks">
  <div class="left">
    <div class="top">
      <div class="greeting">Hi, <%= current_user.first_name %> </div>
      <div class="row">
        <div class="title">Statistics</div>
        <div class="stats">
          <div class="chart">
            <%  if @user_stocks.empty? %>
              <div class="no-data">No data</div>
            <% else %>
              <%= pie_chart @transactions.group(:transaction_type).sum(:order_quantity), colors: ["#c0cfdb", "#ffb6c1"], width: "200px", height: "200px", legend: false, donut: true %>
            <% end %>
            <div class="caption">Total number of shares bought</div>
          </div>
          <div class="chart">
            <%  if @user_stocks.empty? && current_user.balance == 0 %>
              <div class="no-data">No data</div>
            <% else %>
              <%= pie_chart [number_to_currency(@user_stocks.each.pluck(:total_stock_price).sum), number_to_currency(current_user.balance)], colors: ["#bdd9d1", "#faebd7"], width: "200px", height: "200px", donut: true, legend: false%>
            <% end %>
            <div class="caption">Total spent</div>
          </div>
          <div class="chart">
            <%  if @user_stocks.empty? %>
              <div class="no-data">No data</div>
            <% else %>
              <%= pie_chart [number_to_currency(@user_stocks.each.pluck(:total_stock_price).max), number_to_currency(@user_stocks.each.pluck(:total_stock_price).sum)], colors: ["#e9cfc9", "#dfc7de"], width: "200px", height: "200px", donut: true, legend: false %>
            <% end %>
            <div class="caption">Highest number of shares bought</div>
          </div>
        </div>
        <div class="div">
          <% if @user_stocks.empty? %>
          <% else %>
            <div class="total-shares">
              <div><%= @user_stocks.each.pluck(:order_quantity).sum %></div>
            </div>
          <% end %>
          <% if @user_stocks.empty? && current_user.balance == 0 %>
          <% else %>
            <div class="total-spent">
              <div><%= number_to_percentage(@user_stocks.each.pluck(:total_stock_price).sum / current_user.balance * 100, precision: 0) %></div>
            </div>
          <% end %>
          <% if @user_stocks.empty? %>
          <% else %>
            <div class="most-bought">
              <div><%= @user_stocks.each.pluck(:order_quantity).max%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="title">My Portfolio</div>
      <% if @user_stocks.empty? %>
        <div class="no-data">No data</div>
      <% else %>
        <div class="container">
          <div class="header">
            <div class="label">Date</div>
            <div class="label">Company</div>
            <div class="label">Shares</div>
            <div class="label">Stock Price</div>
            <div class="label">Total</div>
            <div class="label">Action</div>
          </div>
          <div class="table">
            <% @user_stocks.order(created_at: :desc).each do |user_stock| %>
              <div class="date-time list">
                <div class="date"><%= user_stock.created_at.strftime("%b %d, %Y") %></div>
                <div class="time"><%= user_stock.created_at.strftime("%l:%M %p") %></div>
              </div>
              <div class="company list">
                <img src="<%= @stocks.find_by(symbol: user_stock.stock_symbol).logo_url %>">
                <div class="details">
                  <div class="symbol"><%= user_stock.stock_symbol %></div>
                  <div class="company-name"><%= user_stock.company_name %></div>
                </div>
              </div>
              <div class="quantity list"><%= user_stock.order_quantity %></div>
              <div class="stock-price list"><%= number_to_currency(user_stock.stock_price) %></div>
              <div class="total-price list"><%= number_to_currency(user_stock.total_stock_price) %></div>
              <div class="icons">
                <%= link_to new_transaction_path(:stock_symbol => user_stock.stock_symbol, :transaction_type => 'buy') do %>
                  <%= image_tag "buy.png" %>
                <% end %>
                <%= link_to new_transaction_path(:stock_symbol => user_stock.stock_symbol, :transaction_type => 'sell') do %>
                  <%= image_tag "sell.png" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="right">
    <div class="nav">
      <div class="title">My Profile</div>
      <%= link_to "+ Top Up", balance_top_up_path %>
    </div>
    <div class="user-details">
      <%= image_tag "avatar.png" %>
      <div class="full-name"><%= current_user.first_name%> <%=current_user.last_name %></div>
      <div class="email"><%= current_user.email%></div>
    </div>
    <div class="row-details">
      <div class="user-status">
        <div class="user">Status:</div>
        <% if current_user.pending? %>
          <div class="status pending">Pending</div>
        <% elsif current_user.approved? %>
          <div class="status approved">Approved</div>
        <% else %>
          <div class="status declined">Declined</div>
        <% end %>
      </div>
      <div class="account-created">
        <div class="account">Account Created:</div>
        <div class="created"><%= current_user.created_at.strftime("%b %m, %Y")%></div>
      </div>
      <div class="current-balance">
        <div class="current">Current Balance:</div>
        <div class="balance">
          <%= number_to_currency(current_user.balance) %>
        </div>
      </div>
    </div>
    <div class="chart">
      <div class="title">
        <div class="date">Spent in <%= Date.current.strftime("%B %Y") %></div>
        <i class="fa-regular fa-calendar"></i>
      </div>
      <%= column_chart @user_stocks.pluck(:created_at, :total_stock_price), width: "500px", height: "350px", class: "column-chart", points: false, library: {scales: {y: {display: true}, x: {display: false}}},colors: ["#414af4"]  %>
    </div>
  </div>
</div>
<% if notice.present? %>
  <div class="bg">
    <div class="container">
      <div class="top-notice">
        <div class="notice"><%= notice %></div>
        <%= video_tag "notice.mp4", autoplay: true, loop: :loop, height: "100px" %>
      </div>
      <div class="bottom">
        <%= link_to "Close", users_path %>
      </div>
    </div>
  </div>
<% end %>
<% if alert.present? %>
  <div class="bg">
    <div class="container">
      <div class="top-alert">
        <div class="alert"><%= alert %></div>
        <%= video_tag "invalid.mp4", autoplay: true, loop: :loop, height: "100px" %>
      </div>
      <div class="bottom">
        <%= link_to "Close", user_stocks_path %>
      </div>
    </div>
  </div>
<% end %>
