<%= form_with(model: transaction) do |form| %>
  <div class="alert"><%= alert %></div>
  <div class="field">
    <%= form.hidden_field :transaction_type, value: params[:transaction_type] %>
  </div>
  <div class="field">
    <%= form.hidden_field :stock_symbol, value: stock.symbol %>
  </div>
  <div class="field">
    <%= form.hidden_field :company_name, value: stock.company_name %>
  </div>
  <div class="field">
    <%= form.hidden_field :stock_price, value: stock.get_quote.latest_price %>
  </div>
  <div class="field">
    <%= form.number_field :order_quantity, min: 0.1, step: :any, value: "", placeholder: "Quantity"%>
  </div>
  <div class="actions">
    <% if params[:transaction_type] == "buy" %>
      <%= form.submit :Buy %>
    <% else %>
      <%= form.submit :Sell %>
    <% end %>
  </div>
<% end %>
