<div class="transactions-page">
  <div class="left">
    <div class="nav">
      <div class="title">Transactions</div>
      <input type="text" placeholder="Search">
    </div>
    <% if @transactions.empty? %>
      <div class="no-transactions">No Transactions</div>
    <% else %>
      <div class="container">
        <div class="header">
          <div class="label">Date</div>
          <div class="label">Company</div>
          <div class="label">Quantity</div>
          <div class="label">Stock Price</div>
          <div class="label">Total</div>
          <div class="label">Type</div>
        </div>
        <div class="table">
          <% @transactions.order(created_at: :desc).each do |transaction| %>
            <div class="date-time list">
              <div class="date"><%= transaction.created_at.strftime("%b %d, %Y") %></div>
              <div class="time"><%= transaction.created_at.strftime("%l:%M %p") %></div>
            </div>
            <div class="company list">
              <img src="<%= @stocks.find_by(symbol: transaction.stock_symbol).logo_url %>">
              <div class="details">
                <div class="symbol"><%= transaction.stock_symbol %></div>
                <div class="company-name"><%= transaction.company_name %></div>
              </div>
            </div>
            <div class="quantity list"><%= transaction.order_quantity %></div>
            <div class="stock-price list"><%= number_to_currency(transaction.stock_price) %></div>
            <div class="total-price list"><%= number_to_currency(transaction.total_stock_price) %></div>
            <div class="<%= transaction.transaction_type_buy? ? "green list" : "red list" %>"><%= transaction.transaction_type %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="right">
    <div class="activity">
      <div class="title">Activity</div>
      <%= area_chart @transactions.pluck(:created_at, :order_quantity), width: "390px", height: "300px", class: "chart", points: false, library: {scales: {y: {display: true}, x: {display: false}}},colors: ["#ee8182"]%>
    </div>
    <div class="container">
    <div class="box">
        <div class="text">Total Spent</div>
        <div class="number"><%= number_to_currency(@transactions.each.pluck(:total_stock_price).sum) %></div>
      </div>
      <div class="box">
        <div class="text">Total Shares Bought</div>
        <div class="number"><%= @transactions.each.pluck(:order_quantity).sum %></div>
      </div>
      <div class="box">
        <div class="text">Total Shares Sold</div>
        <div class="number"><%= @transactions.transaction_type_sell.count %></div>
      </div>
    </div>
  </div>
</div>
